

/* Contact Page Styles */
.contact-page {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003CE0; /* Match the blue background */
    color: #000000;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    overflow: hidden;
    text-align: center;
  }
  


  .contact-text-top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Space between top text elements */
    font-size: 5vw;
  }

  .contact-text-top > * {
    margin: -10px 0; /* Adjust the margin to reduce space */
}

  .contact-text-bottom {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Space between bottom text elements */
    font-size: 5vw;
  }

  .contact-text-bottom > * {
    margin: -10px 0; /* Adjust the margin to reduce space */
}
  
  
  .contact-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; /* Make it responsive */
    height: 80vw; /* Match width for a square aspect ratio */
    max-width: 150vh; /* Prevent it from growing too large */
    max-height: 150vh; /* Maintain aspect ratio at large sizes */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-logo svg {
    width: 100%;
    height: 100%;
  }

  .corner-icons svg path {
    fill: #003ce0;
  }

  .corner-icons a {
    width: 2vw;
    height: 2vw;
  }

  .corner-icons a svg {
    width: 100%;
    height: 100%;
  }

  